 ul li a{
    margin-right: 40px;    
    font-size:bold;
}
/* #nav-ele{
    font-size: larger;
    font-weight: 400;
} */
nav #nav-bar #navbarSupportedContent ul li a{
    color: #067adf;
    font-size: larger;
    font-weight: 450;
}
.c1{
    display: flex;
    height: 70vh;
}
.c2{
    overflow: hidden;
    height: 50vh;
    text-align: justify;
    padding: 5%;
    /* border: 1px solid blueviolet; */

}
.c3{
    /* height:fit-content; */
    /* border: 1px solid white; */
    /* margin-top: 50%; */
    height: 50vh;
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#image{
    height: 50vh;
}
