 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 ul li a{
    margin-right: 40px;    
    font-size:larger;
}

nav #nav-bar #navbarSupportedContent ul li a{
    color:#067adf;
    font-size: larger;
    font-weight: 470;
}


.c1{
    margin-top: 50px;
    padding-right:auto;
    margin-left: auto;
}
.c2{
    color:#067adf;
    /* color: rgb(0, 195, 255); */
    padding-top: 70px;
}
.l1{
    font-size: 2rem;
    padding-left: 30px;
}
.l2{
    font-size: 2.5em;
    padding-left: 30px;
    font-weight: 500;
}
.l3{
    font-size: 2.2rem;
    padding-left: 30px;
    font-weight: 450;
}
.l4{
    padding-left: 30px;
    font-size: 1.1rem;    
}
.c3{
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
}
.imag{
    object-fit:cover;
    
}

 @media (max-width:786px)  {

    .l2{
        padding-left:10px;
        font-size: 2.2rem;
    }
    .c2{
        padding-top: 25px;
        line-height: 34px;
    }
    .l1{
        padding-left:10px;
        font-size: 1.5rem;
    } 
    .l3{
        padding-left: 10px;
        font-size: 1.8rem;
    }
    .l4{
        padding-left: 10px;
        font-size: 0.9rem;
        line-height:18px ;
    }
 }

 @media (max-width:539px)  {

    .l2{
        padding-left:10px;
        font-size: 2rem;
    }
    .c2{
        padding-top: 15px;
        line-height: 30px;
    }
    .l1{
        padding-left:10px;
    } 
    .l3{
        padding-left: 10px;
        font-size: 1.6rem;

    }
    .l4{
        padding-left: 10px;
        font-size: 0.8rem;
        line-height: 17px;
    }
 }
 @media (max-width:498px)  {

    .l2{
        padding-left:5px;
        font-size: 1.3rem;
    }
    .c2{
        padding-top: 20px;
        line-height: 25px;
    }
    .l1{
        padding-left:5px;
        font-size: 1rem;
    } 
    .l3{
        padding-left: 5px;
        font-size: 1.1rem;
    }
    .l4{
        padding-left: 5px;
        font-size: 0.5rem;
        line-height: 10px;
    }
 }

 @media (max-width:355px) and (min-width:339px){
    .l2{
        padding-left:2.5px;
        font-size: 1rem;
    }
    .c2{
        padding-top: 20px;
        line-height: 18px;
    }
    .l1{
        padding-left:2.5px;
        font-size: 0.8rem;
    } 
    .l3{
        padding-left: 2.5px;
        font-size: 0.9rem;

    }
    .l4{
        padding-left: 5px;
        font-size: 0.44rem;
        line-height: 10px;
    }

 }
 @media (max-width:338px)  {

    .l2{
        padding-left:2.5px;
        font-size: 1rem;
    }
    .c2{
        padding-top: 10px;
        line-height: 18px;
    }
    .l1{
        padding-left:2.5px;
        font-size: 0.8rem;
    } 
    .l3{
        padding-left: 2.5px;
        font-size: 0.9rem;

    }
    .l4{
        padding-left: 5px;
        font-size: 0.44rem;
        line-height: 10px;
    }
 }

 @media (max-width:300px)
 {
    .l2{
        padding-left:2.5px;
        font-size: 1rem;
    }
    .c2{
        padding-top: 3px;
        line-height: 18px;
    }
    .l1{
        padding-left:2.5px;
        font-size: 0.8rem;
    } 
    .l3{
        padding-left: 2.5px;
        font-size: 0.9rem;

    }
    .l4{
        padding-left: 5px;
        font-size: 0.42rem;
        line-height: 8px;
    }
 }

