 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 ul li a{
    margin-right: 40px;    
    font-size:larger;
}
.img-fluid{
    padding: 0px;
    margin: 0px;
}

nav #nav-bar #navbarSupportedContent ul li a{
    color:#067adf;
    font-size: larger;
    font-weight: 470;
}

.icon{
    margin-top: 30px;
    padding-left: 31px;
    display:flex;
    gap:60px;
    font-size:2.5rem;
}

.c1{
    margin-top: 50px;
    padding-right:auto;
    margin-left: auto;
}
.c2{
    color:#067adf;
    padding-top: 50px;
}
.l1{
    font-size: 2rem;
    padding-left: 30px;
}
.l2{
    font-size: 2.5em;
    padding-left: 30px;
    font-weight: 500;
}
.l3{
    font-size: 2.2rem;
    padding-left: 30px;
    font-weight: 450;
}
.l4{
    padding-left: 30px;
    font-size: 1.1rem;    
}
.c3{
    display: flex; 
    justify-content: flex-end;
    flex-direction:row; 
}

@media (max-width:1199px)
{
    .icon
    {
        margin-top: 12px; 
        padding-left: 31px;
        display:flex; 
        gap:40px;
        font-size:2.5rem;
    }
}

 @media (max-width:991px)
{
    .icon
    {
        margin-top:10px ;
        padding-left: 31px;
        display:flex; 
        gap:40px;
        font-size:1.8rem; 
    }
} 

 @media (max-width:786px)  {

    .l2{
        padding-left:10px;
        font-size: 2.2rem;
    }
    .c2{
        padding-top: 55px;
        line-height: 34px;
    }
    .l1{
        padding-left:10px;
        font-size: 1.5rem;
    } 
    .l3{
        padding-left: 10px;
        font-size: 1.8rem;
    }
    .l4{
        padding-left: 10px;
        font-size: 0.9rem;
        line-height:18px ;
    }
    .icon{
        margin-top: 20px;
        padding-left: 12px;
        display:flex;
        gap:40px;
        font-size:1.9rem;
    }
 }
@media (max-width:767px)
{
    .c2{
        padding-top: 25px;
        line-height: 34px;
    }

    .icon{
        margin-top: -8px;
        padding-left: 12px;
        display:flex;
        gap:40px;
        font-size:1.5rem;
    }
}
 @media (max-width:539px)  {

    .l2{
        padding-left:10px;
        font-size: 2rem;
    }
    .c2{
        padding-top: 15px;
        line-height: 30px;
    }
    .l1{
        padding-left:10px;
    } 
    .l3{
        padding-left: 10px;
        font-size: 1.6rem;

    }
    .l4{
        padding-left: 10px;
        font-size: 0.8rem;
        line-height: 17px;
    }
    .icon{
        margin-top: -7px;
    }
 }
 @media (max-width:498px)  {

    .l2{
        padding-left:5px;
        font-size: 1.3rem;
    }
    .c2{
        padding-top: 40px;
        line-height: 25px;
    }
    .l1{
        padding-left:5px;
        font-size: 1rem;
    } 
    .l3{
        padding-left: 5px;
        font-size: 1.1rem;
    }
    .l4{
        padding-left: 5px;
        font-size: 0.5rem;
        line-height: 10px;
    }
    .icon{
        margin-top: 10px;
        padding-left:6px;
        display:flex;
        gap:30px;
        font-size:1.3rem;
    }
 }
@media (max-width:450px)
{
    .icon{
        margin-top: -5px;
        padding-left:6px;
        display:flex;
        gap:30px;
        font-size:1.2rem;
    }   
}

@media (max-width:420px)
{
    .c2{
        padding-top: 20px;
        line-height: 25px;
    }

    .icon{
        margin-top: -5px;
        padding-left:6px;
        display:flex;
        gap:27px;
        font-size:1.2rem;
    }
}

@media (max-width:390px)
{
    .icon{
        margin-top:-9px;
        padding-left:6px;
        display:flex;
        gap:18px;
        font-size:1rem;
    } 

}

@media (max-width:365px)
{
    .c2{
        padding-top:15px ;
    }
    .icon{
        margin-top:-9px;
        padding-left:6px;
        display:flex;
        gap:18px;
        font-size:1rem;
    } 

}

 @media (max-width:355px) and (min-width:339px){
    .l2{
        padding-left:2.5px;
        font-size: 1rem;
    }
    .c2{
        padding-top: 20px;
        line-height: 18px;
    }
    .l1{
        padding-left:2.5px;
        font-size: 0.8rem;
    } 
    .l3{
        padding-left: 2.5px;
        font-size: 0.9rem;

    }
    .l4{
        padding-top: 3px;
        padding-left:2.5px;
        font-size: 0.44rem;
        line-height: 10px;
    }
    .icon{
        padding-top: 2px;
    }

 }
 @media (max-width:338px)  {

    .l2{
        padding-left:2.5px;
        font-size: 1rem;
    }
    .c2{
        padding-top: 10px;
        line-height: 18px;
    }
    .l1{
        padding-left:2.5px;
        font-size: 0.8rem;
    } 
    .l3{
        padding-left: 2.5px;
        font-size: 0.9rem;

    }
    .l4{
        padding-top: 10px;
        padding-left: 5px;
        font-size: 0.44rem;
        line-height: 10px;
    }
 }

 @media (max-width:317px)
 {
    .c2{
        padding-top: 7px;
        line-height: 18px;
    }
    .icon{
        margin-top:-12px;
        padding-left:6px;
        display:flex;
        gap:18px;
        font-size:0.75rem;
    }
    .l4{
        margin-top:-6px;
    } 
 }
 
 @media (max-width:310px)
 {
    .icon{
        margin-top:-5px;
        padding-left:6px;
        display:flex;
        gap:18px;
        font:0.5rem;
        margin-bottom: 10px;
    }
 }
 @media (max-width:300px)
 {
    .l2{
        padding-left:2.5px;
        font-size: 1rem;
    }
    .c2{
        padding-top: 10px;
        line-height:20px;
    }
    .l1{
        padding-left:2.5px;
        font-size: 0.8rem;
    } 
    .l3{
        padding-left: 2.5px;
        font-size: 0.9rem;

    }
    .l4{
        padding-left: 5px;
        font-size: 0.42rem;
        line-height:8px;
    }
    .icon{
        margin-top:-7px;
        padding-left:6px;
        display:flex;
        gap:18px;
        font-size:0.8rem;
        margin-bottom: 10px;
    }
 }
 
 a{
    padding: 0px;
    margin: 0px;
    display: inline-block;
 }





